:root {
  --header-height: 40px;
  --footer-height: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
