.main {
  background-image: url("/sky-background.png");
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.7);
  background-blend-mode:darken;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.title {
  font-size: 4.5em;
}

.subTitle {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
}

.link {
  font-size: 1em;
}

.linkText {
  margin-left: 10px;
  color: white;
  text-decoration: underline;
  font-size: 30px;
}

@media (max-width: 500px) {
  .title {
    font-size: 3em;
  }

  .subTitle {
    font-size: 0.8em;
  }

  .link {
    font-size: 0.6em;
  }
}
